<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <body>
      <h1><%= trail.id %></h1>
      <h2><%= trail.length %></h2>
      <h3><%= trail.difficulty %></h3>
      <br />
      <a
        href="https://national-parks-dev.herokuapp.com/favorites/index/<%= trail.id %>"
        >Add to the favorites</a
      >
    </body>
  </body>
</html>
