<form method="POST" action="/parks">
  <label for="name">Name</label>
  <input type="text" name="name" />

  <label for="about">About</label>
  <input id="about" type="text" name="about" />

  <input type="submit" />
</form>
