<div class="container">
  <form method="POST" action="/states">
    <label for="fname">Name</label>
    <input type="text" id="fname" name="name" />

    <label for="lname">Length</label>
    <input type="text" id="lname" name="length" />

    <label for="lname">Difficulty</label>
    <input type="text" id="lname" name="difficulty" />
  </form>
</div>
