<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-image: url("https://cdn.wallpapersafari.com/43/90/1Lp92s.png");
      }
      .show {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <body>
      <div class="show">
        <h1>Number of parks in the State</h1>
        <h1><%= state.numberOfParks %></h1>
      </div>
    </body>
  </body>
</html>
